.container{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding:20px;
 
    border-radius: 7px;
    box-shadow: 0px 3px 10px #AAB8C2,
            -7px 3px 10px #AAB8C2, 7px 3px 10px #AAB8C2;
    
    border:1px solid grey;
    background-color: #4e4e50;
    
    
    
    
    }

    .inpt1 {
        outline:none;
    
        border:1px solid #657786;
        border-radius: 25px;padding:5px;
    width:200px;
    font-size:15px;
    text-align: center;
    height:40px;
    background-color: rgb(223, 223, 223);
    
        color:black;   transition: all 0.5s ease;

    }
    .inpt2{
        border:1px solid dodgerblue;
        background-color: #f6faff;

    }
    .inpt1:focus{
        border:1px solid #c3037f;
        background-color: #f6faff;
    }
    
    .inpt{
        margin-bottom:10px ;
    margin-top: 10px;
    
    
    }
    .buttn{
        
        margin-top:4px !important;
        margin-bottom:10px !important;
    width: 200px  !important; 
    border-radius: 25px !important;
    border:2px solid #c3073f !important;


    color:#c3073f !important;
    
    outline:none !important;
       
    }